<div class="container">

  <div class="row">
    <div class="col--lg-1 pull-left" style="margin-left: 10px">
      <h4><%= @auction.title %></h4>
    </div>
    <div class="col--lg-1 pull-right" style="margin-right: 200px">
      <p>Current Price: $<%= @auction.bids.order(bid: :DESC).first.bid %></p>
    </div>
  </div>

  <div class="row">
    <div class="col--lg-1 pull-left" style="margin-left: 10px">
      <p><%= @auction.details %></p>
    </div>
    <div class="col--lg-1 pull-right" style="margin-right: 200px">
      <p>Current Price<%= @auction.reserved_price %></p>
    </div>
  </div>

  <%= link_to 'Edit', edit_auction_path(@auction) %>

  | <%= link_to 'Delete', auction_path(@auction),
                            method: :delete,
                            data: {confirm: 'Are you sure?'} %>


  <!-- <#%= @bid.errors.full_messages.join(', ') %> -->
  <%= render'bids/form', bid: @bid %>

<div id="bids">
  <%= render 'bids/bids', bids: @bids %>
</div>


</div>
