<!DOCTYPE html>
<html>
  <head>
    <title>BiddingApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
      <%= link_to 'Auctions', auctions_path %>
      |
      <%= link_to 'Create Auction', new_auction_path %>

      <% if user_signed_in? %>
      Hello <%= current_user.first_name %>

      <%= link_to 'Sign Out', sessions_path, method: :delete  %>
      |
      <%= link_to 'Bidded Auctions', auctions_index2_path %>
      <% else %>
      |
      <%= link_to 'Sign In', new_session_path %>
      |
      <%= link_to 'Sign Up', new_user_path %>
      <% end %>
      <hr>


    <% if flash.any? %>
     <hr>
     <% if flash[:notice] %>
       <div class="flash-notice"><%= flash[:notice] %></div>
     <% elsif flash[:alert] %>
       <div class="flash-alert"><%= flash[:alert] %></div>
     <% end %>
     <hr>
   <% end %>
    <%= yield %>
  </body>
</html>
